<div class="home">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">Admin</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active"
              >STUDENTS</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="campaigns" routerLinkActive="active"
              >QUESTIONAIRE</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="customers" routerLinkActive="active"
              >EXAMINATION</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="senders" routerLinkActive="active"
              >RESULTS</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div
    class="main-body"
    style="padding-bottom: 1rem; padding-top: 1rem; height: 100%"
  >
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
